<%- include("header"); -%>
<div class="intro">
  <h2>Contact</h2>
  <p>In samenwerking met het Picasso museum hebben wij dit virtueel museum samengesteld. Pablo Picasso heeft reeds zeven naar hem vernoemde musea. Aangezien het nu tijdens deze crisis moeilijk is om deze te bereiken hebben wij de links hieronder voor u opgelijst.</p>

<ul class="lijstje">

  <li><a href="https://nl.wikipedia.org/wiki/Mus%C3%A9e_Picasso_(Parijs)">Musée Picasso in Parijs</a></li>
  <li><a href="https://nl.wikipedia.org/wiki/Mus%C3%A9e_Picasso_de_Vallauris">Musée Picasso De Vallauris</a></li>
  <li><a href="https://nl.wikipedia.org/wiki/Museu_Picasso_(Barcelona)">Museo Picasso in Barcelona</a></li>
  <li><a href="https://nl.wikipedia.org/wiki/Museo_Picasso_(M%C3%A1laga)">Museo Picasso in Málaga</a></li>
  <li><a href="https://nl.wikipedia.org/w/index.php?title=Museo_Picasso_de_Buitrago&action=edit&redlink=1">Museo Picasso de Buitrago in Madrid</a></li>
  <li><a href="https://nl.wikipedia.org/wiki/Graphikmuseum_Pablo_Picasso_M%C3%BCnster">Graphikmuseum Pablo Picasso Münster</a></li>
  <li><a href="https://nl.wikipedia.org/wiki/Mus%C3%A9e_Picasso_Antibes">Musée Picasso Antibes in Antibes</a></li>
</ul>

<p>Wilt u ons contacteren, dan kan dit zeker via onderstaand formulier.</p>
<div class="container">
  <form>

    <label for="voornaam">Voornaam:</label>
    <input type="text" id="voornaam" name="voornaam" placeholder="Uw voornaam..">

    <label for="achternaam">Achternaam:</label>
    <input type="text" id="achternaam" name="achternaam" placeholder="Uw achternaam..">

    <label for="onderwerp">Onderwerp:</label>
    <textarea id="onderwerp" name="onderwerp" placeholder="Schrijf hier uw boodschap.." style="height:200px"></textarea>

    <input class="terug" type="button" value="Verzenden">

  </form>
</div>
</div>
<%- include("footer"); -%>
