<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Hendrickx Lies">
        <meta name="description" content="Voorbeeld van blog in Node/Express">
        <meta name="keywords" content="JS, Node, Express, EJS, blog">

        <title>MuseumApp</title>

        <link rel="stylesheet" href="/css/master.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    </head>
<header>
  <%- include("nav"); -%>

</header>
    <body>

        <img src="/img/handtekening.jpg" alt="Handtekening Picasso" class="handtekening">
