<article>
  <h3><%=post.titel %></h3>
  <img src="<%= post.imageURL %>" alt="afbeelding" class="image">
  <br>
  <a class= "terug1" href="/overzicht1/<%=index %>">Meer lezen...</a>
  <% var filter = post.filter %>
</article>
